body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #212121;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #9E9E9E;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    text-align: center;
}

.reset-form h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.reset-form h1 span {
    font-weight: bold;
}

.reset-form label {
    display: block;
    margin-top: 10px;
    text-align: left;
}

.reset-form input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.reset-form button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1em;
}

.reset-form button:hover {
    background-color: #1a1a1a;
}
