body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a; /* 어두운 배경 */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background-color: transparent; /* 배경색 없음 */
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-left: 20px; /* 왼쪽 여백 */
}

.main-container {
    width: 80%;
    max-width: 1200px;
    margin-top: 100px; /* 로고와 메인 컨텐츠 사이 간격 */
}

.buttons-container {
    display: flex;
    justify-content: center; /* 네모 상자 중앙 정렬 */
    gap: 20px; /* 버튼 간격 */
    margin-bottom: 50px;
}

.button-box {
    width: 150px;
    height: 150px;
    background-color: #cccccc; /* 버튼 배경색 */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.text-section {
    text-align: left; /* 왼쪽 정렬 */
    margin-left: 100px; /* 왼쪽으로 약간의 여백 */
    margin-bottom: 30px;
    margin-top: 420px;
}

.text-section h1 {
    font-size: 32px;
    margin-bottom: -30px;
}

.text-section p {
    font-size: 26px;
    color: #b0b0b0;
    margin-bottom: 20px;
}

.input-container {
    text-align: left;
    margin-left: 100px;
}

.input-container input {
    width: 100%;
    max-width: 1000px;
    padding: 15px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    background-color: #e0e0e0;
}
